textarea {
    font-family: 'Menlo', 'Courier New', 'Courier';
    width: 100%;
    margin: 4px 0px 4px 0px;
    resize: none;
}
.radio-pink [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}
/*Gap*/

.radio-pink-gap [type="radio"].with-gap:checked+label:before {
    border-color: #e91e63;
}

.radio-pink-gap [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}
                