
<html>
    <head>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
         <link rel="icon"  type="image/icon"  href="Node.ico" />
         <meta charset="utf-8">
    </head>
    <body ng-app="postgreSQL">
        <div class="container" style="margin-top:20px;"  ng-controller="postgreSQLCtrl">
            <div class="row clearfix">
                <div class="col-md-10 column">
                    <div class="jumbotron">
                        <h1>
                            Feedback 
                        </h1>
                        
                    </div>
                </div>
            </div>
        
            
            <div class="controls form-inline form-group">
                <div class="container">
                    <h2>ข้อมูลส่วนตัว</h2>
                    <div class="well">
                                 
                        <div class="row" style="margin-bottom:10px;">
                            <label class="col-md-2 control-label">เพศ</label>
                            <div class="col-md-2">
                                <label class="radio-inline" required>
                                    <input type="radio" ng-model="sex" value="F">ผู้หญิง  
                                </label>
                            
                                <label class="radio-inline">
                                    <input type="radio" ng-model="sex" value="M">ผู้ชาย
                                </label>
                            </div> 
                        </div>
                        <div class="row" style="margin-bottom:10px;"> 
                            <label class="col-md-2 control-label">อายุ</label>
                            <div class="col-md-4">
                                <div class="input-group is-invalid">
                                        <div class="input-group-addon">ปี</div>
                                        <input type="number" ng-model="age"  min="15" max="90" step="1" class="form-control" required>          
                                    
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>    
                        </div>
                        <div class="row clearfix" style="margin-bottom:10px;"> 
                                <label class="col-md-2 control-label">ระดับการศึกษาสูงสุด</label>
                                <div class="col-md-4 selectContainer">
                                  <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select ng-model="edu"  class="form-control selectpicker" >
                                            <option value="PRI">ประถมศึกษา</option>
                                            <option value="PHS">มัธยมศึกษาตอนต้น/ปวช/ หรือเทียบเท่า</option>
                                            <option value="SHS">มัธยมศึกษาตอนปลาย/ปวส/ หรือเทียบเท่า</option>
                                            <option value="BAC">ปริญญาตรี หรือเทียบเท่า</option>
                                            <option value="MAS">ปริญญาโท</option>
                                            <option value="PHD">ปริญญาเอก</option>
                                            <option value="OTH">อื่นๆ</option>   
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;"> 
                                <label class="col-md-2 control-label">อาชีพ</label>
                                <div class="col-md-4 selectContainer">
                                  <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select ng-model="job"  class="form-control selectpicker" >
                                                <option value="STU">นักเรียน/นักศึกษา</option>
                                                <option value="GOV">ข้าราชการ/พนักงานรัฐวิสาหกิจ</option>
                                                <option value="COM">พนักงานบริษัทเอกชน/ลูกจ้าง</option>
                                                <option value="OWN">เจ้าของกิจการ/ธุรกิจส่วนตัว</option> 
                                                <option value="NOJ">ไม่ได้ทำงาน</option> 
                                                <option value="OTH">อื่นๆ</option> 
                                        </select>
                                </div>
                            </div>
                        </div>                         
                        
                        
                        <div class="row" style="margin-bottom:10px;">
                                <label class="col-md-2 control-label">E-Mail</label>  
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input name="email" placeholder="E-Mail Address" class="form-control" ng-model="email" type="text" required>
                                        <div class="invalid-feedback">
                                           
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>    
                
                
                <div class="container">
                    <h2>ประเมิน Jubjai Chatbot</h2>
                    <div class="well">
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">1. ท่านมีความพึงพอใจที่มีต่อการประเมินภาวะซึมเศร้าด้วยการสนทนากับระบบโต้ตอบอัตโนมัติบนเฟสบุคในระดับใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb1"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb1"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb1"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb1"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb1"   value="5">5</label>
                        </div>  
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">2. ท่านคิดว่าการสนทนากับระบบโต้ตอบอัตโนมัติบนเฟสบุคมีความง่ายและสะดวกในการใช้งานมากน้อยเพียงใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb2"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb2"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb2"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb2"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb2"   value="5">5</label>
                        </div>
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">3. ท่านมีความเชื่อมั่นในเรื่องการรักษาความเป็นส่วนตัวของของผู้ใช้งานมากน้อยเพียงใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb3"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb3"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb3"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb3"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb3"   value="5">5</label>
                        </div>        
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">4. ท่านรู้สึกว่ารูปแบบคำถามใน chatbot มีความเป็นธรรมชาติมากน้อยเพียงใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb4"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb4"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb4"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb4"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qcb4"   value="5">5</label>
                        </div>  
                        <div class="row " style="margin-bottom:10px;">
                               
                                        <label class="col-md-2 control-label">ข้อดี</label>  
                                        <div class="col-md-8 inputGroupContainer"> 
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                                <textarea class="form-control" rows="3" ng-model="goodcb"></textarea> 
                                            </div>
                                        </div>
                                   
                                
                         
                        </div>  
                        <div class="row " style="margin-bottom:10px;">
                                
                                         <label class="col-md-2 control-label">ข้อเสีย</label>  
                                         <div class="col-md-8 inputGroupContainer">
                                             <div class="input-group">
                                                 <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                                                 <textarea class="form-control" rows="3" ng-model="badcb"></textarea> 
                                             </div>
                                         </div>
                                    
                                 
                          
                         </div>  
                        
                    </div>
                </div>
                
                <div class="container">
                    <h2>ประเมินแบบสอบถาม TMHQ</h2>
                    <div class="well">
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">1. ท่านมีความพึงพอใจที่มีต่อการประเมินภาวะซึมเศร้าด้วยการสนทนากับระบบโต้ตอบอัตโนมัติบนเฟสบุคในระดับใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq1"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq1"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq1"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq1"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq1"   value="5">5</label>
                        </div>  
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">2. ท่านคิดว่าการสนทนากับระบบโต้ตอบอัตโนมัติบนเฟสบุคมีความง่ายและสะดวกในการใช้งานมากน้อยเพียงใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq2"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq2"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq2"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq2"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq2"   value="5">5</label>
                        </div>
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">3. ท่านมีความเชื่อมั่นในเรื่องการรักษาความเป็นส่วนตัวของของผู้ใช้งานมากน้อยเพียงใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq3"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq3"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq3"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq3"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq3"   value="5">5</label>
                        </div>        
                        <div class="row " style="margin-bottom:10px;">
                            <label class="col-md-8 control-label ">4. ท่านรู้สึกว่ารูปแบบคำถามใน chatbot มีความเป็นธรรมชาติมากน้อยเพียงใด</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq4"   value="1">1</label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq4"   value="2"> 2 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq4"   value="3"> 3 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq4"   value="4"> 4 </label>
                            <label class="radio-inline"> <input type="radio" ng-model="qq4"   value="5">5</label>
                        </div>  
                        <div class="row " style="margin-bottom:10px;">
                               
                                        <label class="col-md-2 control-label">ข้อดี</label>  
                                        <div class="col-md-8 inputGroupContainer"> 
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                                <textarea class="form-control" rows="3" ng-model="goodq"></textarea> 
                                            </div>
                                        </div>
                                   
                                
                         
                        </div>  
                        <div class="row " style="margin-bottom:10px;">
                                
                                         <label class="col-md-2 control-label">ข้อเสีย</label>  
                                         <div class="col-md-8 inputGroupContainer">
                                             <div class="input-group">
                                                 <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                                                 <textarea class="form-control" rows="3" ng-model="badq"></textarea> 
                                             </div>
                                         </div>
                                    
                                 
                          
                         </div>  
                        
                    </div>
                </div>
                <div class="container">
                    <h2>ประเมินภาพรวม</h2>
                    <div class="well">
                        <div class="row clearfix" style="margin-bottom:10px;"> 
                                <label class="col-md-5 control-label">1. ท่านชอบการประเมินภาวะซึมเศร้าแบบใดมากกว่ากัน </label>
                                <div class="col-md-4 selectContainer">
                                  <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select ng-model="qa1"  class="form-control selectpicker" >
                                            <option value="FBC">สนทนากับระบบโต้ตอบอัตโนมัติ (Facebook Chatbot)</option>
                                            <option value="TMQ">ตอบแบบสอบถามออนไลน์</option>
                                            <option value="EQU">ชอบเท่าๆกัน</option>
                                            <option value="NEI">ไม่ชอบทั้งสองระบบ</option>

                                        </select>
                                </div>
                            </div>
                        </div>  
                        <div class="row clearfix" style="margin-bottom:10px;"> 
                                <label class="col-md-5 control-label">2. ท่านเชื่อมั่นในผลการประเมินของระบบใดมากกว่ากัน</label>
                                <div class="col-md-4 selectContainer">
                                  <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select ng-model="qa2"  class="form-control selectpicker" >
                                            <option value="FBC">สนทนากับระบบโต้ตอบอัตโนมัติ (Facebook Chatbot)</option>
                                            <option value="TMQ">ตอบแบบสอบถามออนไลน์</option>
                                            <option value="EQU">เชื่อเท่าๆกัน</option>
                                            <option value="NEI">ไม่เชื่อทั้งสองระบบ</option>

                                        </select>
                                </div>
                            </div>
                        </div>  
                        
         
                        <div class="row " style="margin-bottom:10px;">
                               
                                        <label class="col-md-5 control-label">ข้อเสนอแนะอื่นๆ </label>  
                                        <div class="col-md-4 inputGroupContainer"> 
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                                <textarea class="form-control" rows="3" ng-model="qacomment" width="50%"></textarea> 
                                            </div>
                                        </div>
                                   
                                
                         
                        </div>  
                        
                    </div>
                </div>

                
                <div class="row clearfix" style="margin-bottom:10px;" align="center">
                    <div class="col-md-8">
                        <button ng-click="verifydata()" id="btnAdd" name="btnAdd" class="btn btn-danger">ส่ง Feedback <span class="glyphicon glyphicon-send"></span></button>
                        
                    </div>
                </div>
                
            </div>
            
            
        </div>
        
        <script src="lib/angular.min.js"></script>
        <script> 
            var myApp = angular.module('postgreSQL',[ ]);  
            var val = window.location.href.toString().split('=')[1];            
            myApp.controller('postgreSQLCtrl', ['$scope' ,'$http','$window', '$location',  function($scope,$http) {
                $scope.val1 = 'This is temp Val' ;  
                $scope.fName = '';
                $scope.sex= '';
                $scope.age= '';
                $scope.edu= '';
                $scope.job= '';
                $scope.email= '';
                $scope.qcb1= '';
                $scope.qcb2= '';
                $scope.qcb3= '';
                $scope.qcb4= '';
                $scope.goodcb= '';
                $scope.badcb= '';
                $scope.qq1= '';
                $scope.qq2= '';
                $scope.qq3= '';
                $scope.qq4= '';
                $scope.goodq= '';
                $scope.badq= '';
                $scope.qa1= '';
                $scope.qa2= '';
                $scope.qacomment= '';
                  
            
                $scope.getAllRec = function(){ 
                    $http({method: 'GET', url: '/db/readRecords'}).
                       success(function(data, status) { 
                             $scope.dataset = data; 
                            // alert(val);
                       }).
                       error(function(data, status) {
                         $scope.dataset = data || "Request failed "; 
                     }); 
               } 
                 
               $scope.verifydata = function(){ 
                    //alert($scope.job);
                    if ($scope.sex!='') 
                        if ($scope.age!='')
                            if ($scope.edu!='')
                                if ($scope.job!='')
                                    if ($scope.email!='')
                                        if ($scope.qcb1!='')
                                            if ($scope.qcb2!='')
                                                if ($scope.qcb3!='')
                                                    if ($scope.qcb4!='')
                                                        if ($scope.goodcb!='')
                                                            if ($scope.badcb!='')
                                                                if ($scope.qq1!='')
                                                                    if($scope.qq2!='')
                                                                        if($scope.qq3!='')
                                                                            if ($scope.qq4!='')
                                                                                if ($scope.goodq!='')
                                                                                    if ($scope.badq!='')
                                                                                        if ($scope.qa1!='')
                                                                                            if ($scope.qa2!='')
                                                                                                $scope.addRecord(); 
                                                                                            else    
                                                                                                alert('โปรดประเมินภาพรวมให้ครบ');
                                                                                        else 
                                                                                            alert('โปรดประเมินภาพรวมให้ครบ');
                                                                                    else 
                                                                                        alert('โปรดประเมินแบบสอบถาม TMHQ ให้ครบ');
                                                                                else 
                                                                                    alert('โปรดประเมินแบบสอบถาม TMHQ ให้ครบ');
                                                                            else 
                                                                                alert('โปรดประเมินแบบสอบถาม TMHQ ให้ครบ');
                                                                        else 
                                                                            alert('โปรดประเมินแบบสอบถาม TMHQ ให้ครบ');
                                                                    else 
                                                                        alert('โปรดประเมินแบบสอบถาม TMHQ ให้ครบ');
                                                                else 
                                                                    alert('โปรดประเมินแบบสอบถาม TMHQ ให้ครบ');
                                                            else 
                                                                alert('โปรดประเมิน Jubjai Chatbot ให้ครบ');
                                                        else 
                                                            alert('โปรดประเมิน Jubjai Chatbot ให้ครบ');
                                                    else 
                                                        alert('โปรดประเมิน Jubjai Chatbot ให้ครบ');
                                                else 
                                                    alert('โปรดประเมิน Jubjai Chatbot ให้ครบ');
                                            else 
                                                alert('โปรดประเมิน Jubjai Chatbot ให้ครบ');
                                        else 
                                            alert('โปรดประเมิน Jubjai Chatbot ให้ครบ');
                                    else 
                                        alert('โปรดระบุข้อมูลส่วนตัว ให้ครบ');
                                else 
                                    alert('โปรดระบุข้อมูลส่วนตัว ให้ครบ');
                            else 
                                alert('โปรดระบุข้อมูลส่วนตัว ให้ครบ');
                        else 
                            alert('โปรดระบุข้อมูลส่วนตัว ให้ครบ');
                    else 
                        alert('โปรดระบุข้อมูลส่วนตัว ให้ครบ');
           
                }
                

                $scope.addRecord = function(){ 
                    var url = '/db/addFeedback';
                    //var xdata = {age: $scope.age, fName: val};
                    
                    var xdata = {age: $scope.age, fName: val,sex: $scope.sex,edu: $scope.edu,
                                    job: $scope.job,
                                    email: $scope.email,
                                    qcb1: $scope.qcb1,
                                    qcb2: $scope.qcb2,
                                    qcb3: $scope.qcb3,
                                    qcb4: $scope.qcb4,
                                    goodcb: $scope.goodcb,
                                    badcb: $scope.badcb,
                                    qq1: $scope.qq1,
                                    qq2: $scope.qq2,
                                    qq3: $scope.qq3,
                                    qq4: $scope.qq4,
                                    goodq: $scope.goodq,
                                    badq: $scope.badq,
                                    qa1: $scope.qa1,
                                    qa2: $scope.qa2,
                                    qacomment: $scope.qacomment };
                    
                    //$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded"; got undefined
                    $http.defaults.headers.post["Content-Type"] ="application/json";
                    
                    $http.post('/db/addFeedback',xdata).
                        success(function(data, status) { 
                                //alert('Record Added');
                                //$window.location.href("/thankyou");
                                //$location.path('http://1.179.246.105:8080/jubjai/landingPage/') ;
                                //alert('/db/addRecord?fName='+$scope.fName+'&lName='+$scope.lName+'&email='+$scope.email+'&mbl='+$scope.mbl+'&q1='+$scope.q1+'&q2='+$scope.q2)
                                //$scope.getAllRec(); 
                                //window.header("http://1.179.246.105:8080/jubjai/landingPage/"); 
                                //window.location.href("http://1.179.246.105:8080/jubjai/landingPage/");
                                newDoc();

                                //$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";  
                                //$http({method: 'GET', url: '/endroute'});
                                //$httpProvider.defaults.headers.get = { 'status' : '301' }.
                                //$http.get('/thankyou');  
                                //$scope.$apply(function() { $location.path("/thankyou"); });
                                
                                //$location.path("endroute"); 
                                //$scope.$apply(); 
                               
                        }).
                        error(function(data,status){
                            alert('error:'+status +JSON.stringify(xdata));    
                            //alert('ying error'+staus + JSON.stringify(xdata));
                    
                        });
                    
                }
                
                
                
                //$scope.getAllRec();
                
            }]);
 
        </script>
        <script>
            function newDoc() {
                window.location.assign("http://1.179.246.105:8080/jubjai/landingPage/")
            }
        </script>
            
        
            
            
    </body>
    
</html>